name: CI

on: push

jobs:
  build:
    name: Build and Test
    runs-on: macos-15
    steps:
    - name: Checkout Code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
