name: CI

on: push

jobs:
  build:
    name: Build and Test
    runs-on: macos-15
    steps:
    - name: Checkout Code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
